In [1]:
import pandas as pd

mandarin = pd.read_csv('kkbox_na/mandarin_na.csv')
western = pd.read_csv('kkbox_na/western_na.csv')

In [2]:
mandarin.head()

  charts_date  rank            artist                 track
0  2021-01-01     3                任然                  飛鳥和蟬
1  2021-01-01     7                阿冗                  與我無關
2  2021-01-01    20        于文文(Kelly)  《體面》(電影《前任3：再見前任》插曲)
3  2021-01-01    24                井朧                   丟了你
4  2021-01-01    25  茄子蛋(EggPlantEgg)                  浪子回頭

In [3]:
western.head()

,charts_date,rank,artist,track
0,2021-01-01,3.0,"Alexander 23, Jeremy Zucker",Nothing's the Same
1,2021-01-01,9.0,持修,Imma Get A New One(Imma Get A New One)
2,2021-01-01,13.0,Faime,Feels Like You
3,2021-01-01,19.0,BTS防彈少年團,Dynamite
4,2021-01-01,23.0,"blackbear, Wiz Khalifa",cheers

# track

In [4]:
mandarin_track = mandarin[['artist', 'track']].drop_duplicates()
western_track = western[['artist', 'track']].drop_duplicates()

In [5]:
len(mandarin_track)

54

In [6]:
len(western_track)

252

In [8]:
na_track = pd.concat([western_track, mandarin_track])
na_track.head()

                        artist                                   track
0  Alexander 23, Jeremy Zucker                      Nothing's the Same
1                           持修  Imma Get A New One(Imma Get A New One)
2                        Faime                          Feels Like You
3                     BTS防彈少年團                                Dynamite
4       blackbear, Wiz Khalifa                                  cheers

In [9]:
len(na_track)

306

In [10]:
len(na_track.drop_duplicates())

304

In [11]:
na_track = na_track.drop_duplicates()
na_track.to_csv('na_track.csv', index=False)

In [40]:
track_merge = pd.read_csv('test_track_merge.csv')
track_merge.rename(columns={'name':'track'}, inplace=True)

In [41]:
track = pd.concat([track_merge, na_track], ignore_index=True)
track

,artist,id,track
0,五月天 (Mayday),5_DAFKxzMf04hZqXk4,因為你 所以我
1,盧廣仲 (Crowd Lu),L_Aag3up_NyBpahTJG,刻在我心底的名字 - 電影〈刻在你心底的名字〉主題曲
2,艾薇,XXONe3fIN4kbrmzJqh,失重前幸福
3,aMEI (張惠妹),P_c_y1B6adNriKJkm6,緩緩
4,周興哲 (Eric Chou),4kDxlI5PWkaL8-hS8a,如果能幸福 - HBO Asia原創影集《戒指流浪記》片尾曲
...,...,...,...
5841,G.E.M.鄧紫棋,NaN,夜的盡頭
5842,摩登兄弟劉宇寧,NaN,尋一個你 (電視劇《蒼蘭訣》溫情主題曲)
5843,甜約翰Sweet John,NaN,不小心愛上你 Accidentally in Love ft. 魏如萱 waa wei
5844,林俊傑(JJ Lin),NaN,修煉愛情
5845,草東沒有派對 (No Party For Cao Dong),NaN,床

In [42]:
track.to_csv('track_merge_final.csv')

In [44]:
len(track.drop_duplicates())

5846

In [50]:
_track = pd.read_csv('track_all.csv')

df_without_spotify_id = _track[_track['spotify_id'].isna() | (_track['spotify_id'] == '')]

In [55]:
df_without_spotify_id = df_without_spotify_id.drop_duplicates()

In [56]:
df_without_spotify_id.to_csv('track_without_spotify_id.csv', index=False)

In [57]:
df_with_spotify_id = _track[_track['spotify_id'].notna() & (_track['spotify_id'] != '')]
df_with_spotify_id

,track,artist,spotify_id
1771,the boy,lullaboy,5OMMSd42ZRQdOJoZwC4g4L
1773,一年半載,黃小琥 (Tiger Huang),4EY2qTUAvyaBCPWDu7dZ26
1774,我多想變成她,艾怡良 (Eve Ai),5yD4MF6VJWYkcyA2EzwVhz
1776,Overpass Graffiti,Ed Sheeran (紅髮艾德),4btFHqumCO31GksfuBLLv3
1777,I Wish (feat. Mabel),Joel Corry,4CS3sPyyi3MPxZLsbqF68a
...,...,...,...
5841,夜的盡頭,G.E.M.鄧紫棋,42u2nDv5MFYSgyPkYidkwh
5842,尋一個你 (電視劇《蒼蘭訣》溫情主題曲),摩登兄弟劉宇寧,2DVft4hFVaFD5d6Pm9Si8P
5843,不小心愛上你 Accidentally in Love ft. 魏如萱 waa wei,甜約翰Sweet John,0Gw3VYIA5RbpZVnOYUiLsP
5844,修煉愛情,林俊傑(JJ Lin),190kU2WKyIzx9XaBjfWRPk
5845,床,草東沒有派對 (No Party For Cao Dong),2C1Wgc25XHm7SUGnkC920N

In [61]:
_df_without_spotify_id = pd.read_csv('track_without_spotify_id_merge.csv')
merge_df = pd.concat([df_with_spotify_id, _df_without_spotify_id], ignore_index=True).drop_duplicates()

len(merge_df)

5649

In [60]:
len(merge_df.drop_duplicates())

5649

In [63]:
final = track.merge(merge_df, how='left', on=['track', 'artist'])
final

,artist,id,track,spotify_id
0,五月天 (Mayday),5_DAFKxzMf04hZqXk4,因為你 所以我,3oRP6yGs5d0kFpGRRzzaS8
1,盧廣仲 (Crowd Lu),L_Aag3up_NyBpahTJG,刻在我心底的名字 - 電影〈刻在你心底的名字〉主題曲,3OC84eKMxRJ4x0Hcwl9i4i
2,艾薇,XXONe3fIN4kbrmzJqh,失重前幸福,3X7b86dbPmYy8ouFQcHS6l
3,aMEI (張惠妹),P_c_y1B6adNriKJkm6,緩緩,6GD7YFzkLd6nxKrbGqtKpp
4,周興哲 (Eric Chou),4kDxlI5PWkaL8-hS8a,如果能幸福 - HBO Asia原創影集《戒指流浪記》片尾曲,0TVrlU8El0K6U1pC2LOt09
...,...,...,...,...
5859,G.E.M.鄧紫棋,NaN,夜的盡頭,42u2nDv5MFYSgyPkYidkwh
5860,摩登兄弟劉宇寧,NaN,尋一個你 (電視劇《蒼蘭訣》溫情主題曲),2DVft4hFVaFD5d6Pm9Si8P
5861,甜約翰Sweet John,NaN,不小心愛上你 Accidentally in Love ft. 魏如萱 waa wei,0Gw3VYIA5RbpZVnOYUiLsP
5862,林俊傑(JJ Lin),NaN,修煉愛情,190kU2WKyIzx9XaBjfWRPk
5863,草東沒有派對 (No Party For Cao Dong),NaN,床,2C1Wgc25XHm7SUGnkC920N

In [65]:
final.to_csv('track_all_final.csv', index=False)

# artist

In [12]:
mandarin_artist = mandarin['artist'].drop_duplicates()
western_artist = western['artist'].drop_duplicates()

In [14]:
na_artist = pd.concat([mandarin_artist, western_artist]).to_frame(name='artist')
na_artist

                   artist
0                      任然
1                      阿冗
2              于文文(Kelly)
3                      井朧
4        茄子蛋(EggPlantEgg)
...                   ...
4478  Steve Aoki (史帝夫．青木)
4493  The Weeknd, Madonna
4609             (G)I-DLE
4616          Troye Sivan
5037              J.Tajor

[197 rows x 1 columns]

In [15]:
len(na_artist.drop_duplicates())

195

In [16]:
na_artist = na_artist.drop_duplicates()

import re

def remove_last_parentheses(text):
    # 只匹配最後一個以括號開頭的部分並將其移除
    return re.sub(r'\s*\([^)]*\)$', '', text)

na_artist['spotify_artist'] = na_artist['artist'].apply(remove_last_parentheses)

/var/folders/13/bjdg5twd5wv2048d79z_693c0000gn/T/ipykernel_88850/1392034596.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  na_artist['spotify_artist'] = na_artist['artist'].apply(remove_last_parentheses)

In [17]:
na_artist

                   artist       spotify_artist
0                      任然                   任然
1                      阿冗                   阿冗
2              于文文(Kelly)                  于文文
3                      井朧                   井朧
4        茄子蛋(EggPlantEgg)                  茄子蛋
...                   ...                  ...
4478  Steve Aoki (史帝夫．青木)           Steve Aoki
4493  The Weeknd, Madonna  The Weeknd, Madonna
4609             (G)I-DLE             (G)I-DLE
4616          Troye Sivan          Troye Sivan
5037              J.Tajor              J.Tajor

[195 rows x 2 columns]

In [18]:
def unify_separators(text):
    # 將 ' & ', '、' 替換為逗號
    return re.sub(r'\s*&\s*|、', ',', text)

# 統一分隔符號
na_artist['spotify_artist'] = na_artist['spotify_artist'].apply(unify_separators)

/var/folders/13/bjdg5twd5wv2048d79z_693c0000gn/T/ipykernel_88850/4267051455.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  na_artist['spotify_artist'] = na_artist['spotify_artist'].apply(unify_separators)

In [20]:

# 創建一個臨時列來存儲擴展後的結果
df_expanded = na_artist.assign(temp_artist=na_artist['spotify_artist'].str.split(','))

# 使用 explode 函數擴展臨時列
df_expanded = df_expanded.explode('temp_artist')

# 去除空白字符
df_expanded['temp_artist'] = df_expanded['temp_artist'].str.strip()

# 用擴展後的結果替換 spotify_artist 列
df_expanded['spotify_artist'] = df_expanded['temp_artist']

# 刪除臨時列
df_expanded = df_expanded.drop('temp_artist', axis=1)

In [22]:
df_expanded

                   artist spotify_artist
0                      任然             任然
1                      阿冗             阿冗
2              于文文(Kelly)            于文文
3                      井朧             井朧
4        茄子蛋(EggPlantEgg)            茄子蛋
...                   ...            ...
4493  The Weeknd, Madonna     The Weeknd
4493  The Weeknd, Madonna        Madonna
4609             (G)I-DLE       (G)I-DLE
4616          Troye Sivan    Troye Sivan
5037              J.Tajor        J.Tajor

[254 rows x 2 columns]

In [31]:
df_expanded = pd.read_csv('na_artist.csv')

In [32]:
na_artist_merge = pd.read_csv('na_artist_merge.csv')
na_artist_merge

          artist              spotify_id
0             任然  6f4srX54JFrLNK4aTJe2Sc
1             阿冗  3dTgjg7lzUGiD3NwcGCK1n
2            于文文  4HBrbS177J4jGrVHiFVfek
3             井朧  4tz3iHSl8lR9ry1BOiF0N8
4            茄子蛋  6g641431O1Xkl7HAs2yFEg
..           ...                     ...
223   The Weeknd  1Xyo4u8uXC1ZmMpatF05PJ
224      Madonna  6tbjWDEIzxoDsBA1FuhfPW
225     (G)I-DLE  2AfmfGFbe0A0WsTYm0SDTx
226  Troye Sivan  3WGpXCj9YhhfX11TToZcXP
227      J.Tajor  0VpMOC5IZU06u29fWjv3qJ

[228 rows x 2 columns]

In [33]:
na_artist_merge.rename(columns={'artist': 'spotify_artist'}, inplace=True)

artist_unique = na_artist_merge.drop_duplicates(subset=['spotify_artist'])

# 然後進行合併操作
result = df_expanded.merge(na_artist_merge, how='inner', on='spotify_artist')

In [34]:
result['artist_id'] = ''
result

                  artist spotify_artist              spotify_id artist_id
0                     任然             任然  6f4srX54JFrLNK4aTJe2Sc
1                     阿冗             阿冗  3dTgjg7lzUGiD3NwcGCK1n
2             于文文(Kelly)            于文文  4HBrbS177J4jGrVHiFVfek
3                     井朧             井朧  4tz3iHSl8lR9ry1BOiF0N8
4       茄子蛋(EggPlantEgg)            茄子蛋  6g641431O1Xkl7HAs2yFEg
..                   ...            ...                     ...       ...
254  The Weeknd, Madonna     The Weeknd  1Xyo4u8uXC1ZmMpatF05PJ
255  The Weeknd, Madonna        Madonna  6tbjWDEIzxoDsBA1FuhfPW
256             (G)I-DLE       (G)I-DLE  2AfmfGFbe0A0WsTYm0SDTx
257          Troye Sivan    Troye Sivan  3WGpXCj9YhhfX11TToZcXP
258              J.Tajor        J.Tajor  0VpMOC5IZU06u29fWjv3qJ

[259 rows x 4 columns]

In [35]:
final = pd.read_csv('artist_merge_final.csv')

In [37]:
_result = pd.concat([final, result], ignore_index=True).drop_duplicates()
_result

,artist,artist_id,spotify_artist,spotify_id
0,五月天 (Mayday),9XN-7yg5vg3gYnCdsM,五月天,16s0YTFcyjP4kgFwt7ktrY
1,盧廣仲 (Crowd Lu),8qCONzjl89Yak9KFxZ,盧廣仲,2JBUyLiFvpFPWdZGqIGYLD
2,艾薇,SkYfuVHgT10-nfv3Tz,艾薇,0RaC2hXyniYsju0mCSNz90
3,aMEI (張惠妹),Ok6kf9NM0d0grGYNbl,aMEI,6noxsCszBEEK04kCehugOp
4,周興哲 (Eric Chou),TZghSjbKIgUdp9HKxN,周興哲,5fEQLwq1BWWQNR8GzhOIvi
...,...,...,...,...
2685,"The Weeknd, Madonna",,The Weeknd,1Xyo4u8uXC1ZmMpatF05PJ
2686,"The Weeknd, Madonna",,Madonna,6tbjWDEIzxoDsBA1FuhfPW
2687,(G)I-DLE,,(G)I-DLE,2AfmfGFbe0A0WsTYm0SDTx
2688,Troye Sivan,,Troye Sivan,3WGpXCj9YhhfX11TToZcXP
2689,J.Tajor,,J.Tajor,0VpMOC5IZU06u29fWjv3qJ

In [38]:
_result.to_csv('artist_all.csv', index=False)